@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto+Slab&display=swap');

h1 {
    font-family: 'Caprasimo', cursive;
    color: #f7fec1;
}

h2, h3 {
    font-family: 'Caprasimo', cursive;
    color: #008080;
}

h2 a, h3 a {
    text-decoration: none;
    color: #ffa500;
}

h2 a:hover, h3 a:hover {
    color: #705d3d;
}

a {
    color: #ffd700;
    text-decoration: none;
}

a:hover {
    color: ;
}

/* my edits: */
.jumbotron {
    background-color: #008080;
    text-align: center;
    margin-bottom: 40px;
}

body {
    font-family: 'Roboto Slab', serif;
}

/* pre-set: */
/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* --- */
