@{
    ViewBag.Title = "Home Page";
}

<main>
    <section id="hero">
        <h1> The Ultimate Brunch Companion</h1>
    </section>

    <section id="indexsec2">
    <div class="col-md-4">
        <h2>Welcome to Brunch Buds!</h2>
        <p>
            You can get started by viewing our list of restaurants
        </p>
        <p><a class="btn btn-default" href="/Restaurant/List">All Restaurant &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reviews</h2>
        <p> Check out the recent reviews!</p>
        <p><a class="btn btn-default" href="/Review/List">Reviews &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cuisines</h2>
        <p>You can browse the restaurants available by cuisine.</p>
        <p><a class="btn btn-default" href="/Cuisine/List"> Cuisine &raquo;</a></p>
    </div>
    </section>

</main>