@model PP_RestaurantReview.Models.ViewModels.DetailsCuisine

@{
    ViewBag.Title = "Details";
}

<a href="/Cuisine/List">Go back to Cuisine list</a>
<br />
<a href="/Cuisine/Edit/@Model.SelectedCuisine.CuisineId">Update</a>
<br />
<a style="color:#ab2020;" href="/Cuisine/DeleteConfirm/@Model.SelectedCuisine.CuisineId">Delete</a>
<br />
<h2> @Model.SelectedCuisine.CuisineType</h2>

<div>

    @foreach (var restaurant in Model.RelatedRestaurants)
    {
        <h3><a href="/Review/Details/@restaurant.RestaurantId">@restaurant.RestaurantName</a></h3>
    }

</div>

<a href="/Restaurant/New"> Add Restaurant </a>

