@model IEnumerable<PP_RestaurantReview.Models.CuisineDto>
@{
    ViewBag.Title = "List";
}

<h2> Cuisine List</h2>

@foreach (var cuisine in Model)
{
    <h3><a href="/Cuisine/Details/@cuisine.CuisineId"> @cuisine.CuisineType</a></h3>
}

<a href="/Cuisine/New"> Add New Cuisine </a>