
@{
    ViewBag.Title = "New";
}

<h2>Create Cuisine</h2>
<form action="/Cuisine/Create" method="POST">
    <div>
        <label>Cuisine Type:</label> <br />
        <input name="CuisineType" type="text" />
    </div>
    <br />
    <div>
        <input type="submit" value="Create Cuisine" />
    </div>
</form>

