@model IEnumerable<PP_RestaurantReview.Models.CuisineDto>
@{
    ViewBag.Title = "Create";
}

<h2>Create Restaurant</h2>

<form action="/Restaurant/Create" method="POST">
    <div>
        <label>Restaurant:</label> <input type="text" name="RestaurantName" />
    </div>
    <div>
        <label>Cuisine:</label>
        <select name="CuisineId">
            @foreach (var cuisine in Model)
            {
                <option value="@cuisine.CuisineId"> @cuisine.CuisineType </option>
            }
        </select>
    </div>

    <div>
        <label>Address</label> <input type="text" name="Address" />
    </div>
    <div>
        <label>Website:</label> <input type="text" name="RestaurantLink" />
    </div>
    <div>
        <label>Description:</label> <textarea name="Description"></textarea>
    </div>
    <div>
        <input type="submit" value="Create Restaurant" />
    </div>
</form>
